<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-404373486428-ios-d681b4952871080df31f99</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow.ttf</string>
		<string>Barlow-Italic.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
